[submodule "pack/default/start/async.vim"]
	path = src/pack/default/start/async.vim
	url = git@github.com:prabirshrestha/async.vim.git
[submodule "pack/default/start/vim-lsp"]
	path = src/pack/default/start/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule "pack/default/start/vim-lsp-settings"]
	path = src/pack/default/start/vim-lsp-settings
	url = git@github.com:mattn/vim-lsp-settings.git
[submodule "pack/default/start/vim-toml"]
	path = src/pack/default/start/vim-toml
	url = git@github.com:cespare/vim-toml.git
[submodule "pack/default/start/vim-nix"]
	path = src/pack/default/start/vim-nix
	url = git@github.com:LnL7/vim-nix.git
[submodule "pack/default/start/vim-fugitive"]
	path = src/pack/default/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/default/start/vim-dispatch"]
	path = src/pack/default/start/vim-dispatch
	url = git@github.com:tpope/vim-dispatch.git
[submodule "pack/default/start/vim-fish"]
	path = src/pack/default/start/vim-fish
	url = git@github.com:dag/vim-fish.git
[submodule "pack/default/start/vim-airline"]
	path = src/pack/default/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/default/start/vim-airline-themes"]
	path = src/pack/default/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "pack/default/start/gruvbox"]
	path = src/pack/default/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule "pack/default/start/typescript-vim"]
	path = src/pack/default/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim.git
[submodule "pack/default/start/vim-vue"]
	path = src/pack/default/start/vim-vue
	url = git@github.com:posva/vim-vue.git
[submodule "pack/default/start/goyo.vim"]
	path = src/pack/default/start/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule "pack/default/start/limelight.vim"]
	path = src/pack/default/start/limelight.vim
	url = git@github.com:junegunn/limelight.vim.git
[submodule "pack/default/start/fzf.vim"]
	path = src/pack/default/start/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule "pack/default/start/fzf"]
	path = src/pack/default/start/fzf
	url = git@github.com:junegunn/fzf.git
[submodule "pack/default/start/vim-easy-align"]
	path = src/pack/default/start/vim-easy-align
	url = git@github.com:junegunn/vim-easy-align.git
[submodule "pack/default/start/nerdtree"]
	path = src/pack/default/start/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "pack/default/start/emmet-vim"]
	path = src/pack/default/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "src/pack/default/start/editorconfig-vim"]
	path = src/pack/default/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim.git
[submodule "src/pack/default/start/vim-svelte"]
	path = src/pack/default/start/vim-svelte
	url = git@github.com:evanleck/vim-svelte.git
